@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@font-face {
    font-family: 'Passion One', 'Sriracha';
    src: url();
    font-weight: normal, bold;
}

*{
    padding: 0px;
    margin: 0px;
  
}

:root{
    --cor0:rgba(232, 232, 232, 0.458);
    --cor01:#040303;

    --fonte-padrao: Verdana, 'Geneva', Tahoma, Sans-serif;
    --fonte-destaque:'Passion One', 'Regular';
    --fonte-textos:'Sriracha', 'cursive';

    
}

header{
    background-color: var(--cor01);
    color: white;
    text-align: center;
   

}

header > h1 {
    padding-top: 50px;
    font-family: var(--fonte-destaque);
    font-variant: small-caps;
    font-size: 10vw;
}
header > p {
    padding: 50px;
    font-family: var(--fonte-destaque);
    
}
body{
    background-color:var(--cor0);
    font-family: var(--fonte-textos);
    height: 100vh;
  
}
a{
    text-decoration: none;
    color: white;
    
}

a:hover{
    text-decoration: underline;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-textos);
    font-size: 3.5vw;
}


section.normal{
    background-color: white;
    color:black;
   
}

section >p{
    padding-top: 40px;
}


section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-attachment: fixed;
    
   
}

section.imagem > p {
  display: inline-block;  
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.254);
  text-shadow: 1px 1px 0px black;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
    
}

section#img02{
    background-image: url(../imagens/background002.jpg);
    
}






footer{
    padding: 15px;
    background-color: #040303;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: var(--fonte-padrao);
}